.view-game-background{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    z-index: 100;
    transform: translate(-50%, -50%);
}
.view-game-container {
    position: fixed;
    background-color: black;
    border: 1px solid var(--color_1);
    border-radius: 5px;

    width: 70vw;
    height: 94vh;
    z-index: 101;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.coinflip-game-players{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.coinflip-player-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
}

.coinflip-player-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coinpflip-player-info-avatar {
    width: 160px;
    height: 160px;
    border-radius: 100%;
}

.coinflip-player-info-img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
}

.coinflip-player-game-info {
    width: 80%;
    height: 70px;
    text-align: center;
    border-bottom: 1px solid var(--color_1);
}

.coinflip-player-info-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.coinflip-player-info-percents {
    font-size: 1.6rem;
    font-weight: bold;
}

.coinflip-player-info-bet-items {
    padding: 5px 10px;
    margin-top: 20px;
    display: flex;
    width: 60%;
    height: 220px;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
    overflow-y: scroll;
}

.coinflip-player-info-item {
    width: 100px;
    height: 100px;
    border: 1px solid white;
    border-radius: 6px;
    box-shadow: 0px 0px 5px white;
    transition: all 0.15s;
}

.coinflip-player-info-item:hover{
    cursor: pointer;
    box-shadow: 0px 0px 15px rgba(148, 2, 138);
}

.coinflip-player-info-bet-item-img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

.coinflip-player-info-bet-summ {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 10px;
}

.coinflip-game-info-container {
    width: max-content;
}

.info-icon {
    width: 20px;
    height: 20px;
    border: 1px solid var(--color_1);
    border-radius: 100%;
    text-align: center;
    margin: 5px;
}

.coinflip-game-info-full-info {
    font-size: 0.9rem;
}

.coinflip-game-info-full-info p, a{
    margin: 5px;
    text-decoration: none;
    color: white;
}

.close-view-window-bt-con{
    position: absolute;
    right: 15px;
    top: 10px;
}

.view-game-window-join-bt-con{
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
}

.vs-coinflip-game-view-con{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
}

.vs-coinflip-game-view-con img{
    width: 100%;
    height: 100%;
}

.coinflip-game-view-total-bet{
    position: absolute;
    left: 50%;
    top: 57%;
    transform: translate(-50%, -50%);

    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    border-bottom: 1px solid var(--color_1);
    text-shadow: 0px 0px 5px var(--color_1);
}