{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="rustygamble, rusty gamble, coinflip, rust, jackpot, online gaming, gambling, betting, multiplayer games, game platform, gaming community, rust skins, virtual items, winning chances, gaming experience, fair play, gaming tournaments, esports" />
    <meta name="description" content="Discover RustyGamble - the ultimate service for coin flipping and more. Join us soon for an exciting experience featuring Rust, jackpots, and more. Stay tuned for updates and visit our Discord community for additional information." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'main/css/discord.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="{% static 'main/img/favicon.png'%}" sizes="16x16">

    <title>RustyGamble</title>
</head>
<body>

    <main>
        <div class="logo">
            <img class="logo-img" alt="RustyGamble" src="{% static 'main/img/logo.gif'%}">
        </div>
        <div class="description">
            <p class="first-line"><span>Cum</span>ming <span>soon</span></p>
            <p class="second-line">For <span>more</span> information, <span>check out</span> our 
                
            </div>
            </p>
            
        <div class="discord-links">
            <a class="discord-link" href="https://discord.gg/2J4Ewwug9c" title="RustyGamble discord" target="_blank">
                <button class="discord-bt">
                    <img class="discord-bt-img" src="{% static 'main/img/discord-button.png'%}">
                </button>
            </a>
        </div>
    </main>
    <div class="area" >
        <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
        </ul>
</div >
    <script src="{%static 'main/js/animation.js'%}"></script>
</body>
</html>