{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/discord.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <title>RustyGamble</title>
</head>
<body>

    <main>
        <div class="logo">
            <img class="logo-img" alt="RustyGamble" src="{% static 'main/img/rustylogo.png'%}">
        </div>
        <div class="description">
            <p class="first-line"><span>Cum</span>ming <span>soon</span></p>
            <p class="second-line">For <span>more</span> information, <span>check out</span> our discord</p>
        </div>
        <div class="discord-links">
            <a class="discord-link" href="#">
                <img class="discord-logo" alt="discord-link" src="{% static 'main/img/discord-logo-big.png'%}">
            </a>
        </div>
    </main>
    <script src="{%static 'main/js/animation.js'%}"></script>
</body>
</html>