.chat-container {
    width: 400px;
    height: 72vh;
    padding-top: 91px;
    background-color: #0f0f0f;
    position: fixed;
    background-color: rgb(16, 16, 16);
    transition: transform 0.3s ease-in-out; /* Added transition property */
  }
  
  .chat-hidden {
    transform: translateX(-100%); /* Hide the chat by moving it to the left */
  }

  .chat-title{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.6rem;
    font-weight: bold;
    background-color: rgb(16, 16, 16);
    border: 1px solid rgb(37, 37, 37);
    box-shadow: 0px 2px 10px black;
  }

  .chat-close-bt{
    position: absolute;
    top: 93px;
    right: 0px;
    transform: rotate(180deg);
    transition: all 0.3s;
  }

  .chat-open-bt{
    right: -65px;
    transform: rotate(0deg);
  }

  .chat-bt{
    background: none;
    border: none;
    color: white;
  }


  .messages-container {
    height: 60vh; /* Set a fixed height for the container */
    overflow-y: auto; /* Use 'auto' instead of 'scroll' for better scrollbar behavior */
  }
  
  .messages-container::-webkit-scrollbar {
    width: 8px; /* Set the width of the scrollbar */
    background-color: #f5f5f5; /* Set the background color of the scrollbar track */
  }
  
  .messages-container::-webkit-scrollbar-thumb {
    background-color: #888; /* Set the color of the scrollbar thumb */
    border-radius: 4px; /* Round the corners of the thumb */
  }
  
  .messages-container::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Set the color of the scrollbar thumb on hover */
  }
  
  .messages-container::-webkit-scrollbar-track {
    background-color: #f5f5f5; /* Set the color of the scrollbar track */
  }

  .avatar{
    border-radius: 100%;
    position: relative;
    width: 60px;
  }

  .avatar-img{  
    border-radius: 100%;
    width: 60px;
    height: 60px;
    object-fit: cover;
    box-shadow: 0px 3px 10px black;
  }

  .status-icons{
    width: 100%;
  }

  .status-icons img{
    width: 100%;
    height: 60px;
  }
  
  .message {
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
  }
  
  .username {
    font-weight: bold;
    color: #6441A4;
    margin-right: 5px;
  }
  
  .message-content {
    color: #ffffff;
    width: 282px;
  }

  .status-icons{
    width: 60px;
  }
  
  .user-input {
    height: 30px;
    width: 95%;
    display: flex;
    position: absolute;
    bottom: 2px;
    left: 10px;
    background-color: rgb(16, 16, 16);
    box-shadow: 0px 5px 10px black;
  }
  
  #user-message {
    flex-grow: 1;
    padding: 5px;
    border-radius: 5px;
    border: none;
  }
  
  #send-button {
    width: 100px;
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--color_1);
    
    font-size: 1.1rem;
    font-weight: bold;
    color: #000000;
  }