body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  background-color: black;
  color: white;
  overflow-x: hidden;
}
.content {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 152px;
  row-gap: 20px;
  column-gap: 20px;
}
