
html{
    background-color: black;
    color: white;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    overflow-x: hidden;
}

body{
    overflow-x: hidden;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

.logo{
    top: 0px;
    width: 341px;
    height: 183px;
    transition: all 0.15s;
    pointer-events: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: transparent;
    object-fit: contain;

}

.logo-img{
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-color: transparent;
    object-fit: contain;
}

.description{
    margin-top: 50px;
}

p{
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.area{
    background: #000000;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100%;
    position: absolute;
    top: 0;
    z-index: -19;
    overflow-x: hidden;
    overflow-y: hidden;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

@keyframes spanShadow {
    0%{
        text-shadow: 0px 0px 60px #ffa31a;
    }
    50%{
        text-shadow: 0px 0px 90px #e13019;
        color: #e13019;
    }
    100%{
        text-shadow: 0px 0px 60px #ffa31a;
        transform: scale(1);
        color: #ffa31a;
    }
}

span{
    animation: spanShadow 15s ease-in-out 0s infinite;
    color: #ffa31a;
    text-shadow: 0px 0px 60px #ffa31a;
}

.first-line{
    text-align: center;
    font-size: 2.3rem;
}

.second-line{
    text-align: center;
    font-size: 1.7rem;
}

.discord-links{
    width: 400px;
    height: 150px;
    text-align: center;
}

.discord-link{
    text-decoration: none;
    color: black;
    text-align: center;
}

.discord-bt{
    width: 100%;
    height: 100%;

    font-size: 3rem;
    background-color: #ffa31a;
    border:none;
    border-radius: 15px;
    transition: all 0.15s;
    -webkit-appearance: button;
    -moz-appearance: none;
    appearance: none;
    
    /* Add these properties */
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

.discord-bt:hover{
    transform: scale(1.05);
    border-radius: 18px;
    cursor: pointer;
    box-shadow: 0px 0px 30px #e130196b;
}

.discord-bt:active{
    transform: scale(0.99);
    opacity: 0.8;
    box-shadow: 0px 5px 30px #e130196b;
}

.discord-bt-img{
    width: 100%;
    height: 100%;
    background-color: transparent;
    object-fit: contain;
}


@keyframes moveLight {
from {
    opacity: 0.5;
    top: -5%;
}
to {
    opacity: 0;
    top: 100%;
}
}
  
.light {
    filter: blur(5px);
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: orange;
    pointer-events: none;
    animation-name: moveLight;
    box-shadow: 0px 0px 10px orange;
    animation-duration: 4s; /* set the duration of the animation */
    animation-timing-function: ease-in-out; /* set the timing function */
}

/* Adjust button style for iOS devices */
@media only screen and (max-device-width: 812px) {
    button {
      padding: 0;
      font-size: 16px;
      line-height: 1.2;
      color: black;
    }
  }

@media (max-width:780px) {
    span{
        animation: none;
    }
    .light{
        width: 10px;
        height: 10px;
    }
}

@media (max-width:555px) {
    .discord-links{
        width: 250px;
        height: 100px;
    }
}
@media (max-width:450px) {
    .logo, .discord-links{
        width: 250px;
        height: 150px;
    }

    .discord-links{
        height: 100px;
    }

    .discord-bt{
        font-size: 2rem;
    }
}

@media (max-width:380px) {
    html{
        font-size: 18px;
    }
}

@media (max-width:250px) {
    .logo, .discord-links{
        width: 150px;
        height: 100px;
    }

    .discord-links{
        height: 80px;
    }

    .discord-bt{
        font-size: 1.5rem;
    }
}

